body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #4caf50;
    font-size: 2.5em;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="file"],
button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}
input[type="text"]:focus,
input[type="file"]:focus {
    border-color: #4caf50;
    outline: none;
}
button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1em;
}
button:hover {
    background-color: #45a049;
}
#outputContainer {
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word;
    position: relative;
}
#output {
    margin: 0;
    padding: 0;
    list-style: none;
}


#output p {
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}
#output p:last-child {
    border-bottom: none;
}

#output.flash {
    background: linear-gradient(90deg, rgba(255, 255, 224, 0.8) 0%, rgba(144, 238, 144, 0.8) 50%, rgba(0, 128, 0, 0.8) 100%); /* Light Yellow to Light Green to Full Green */
    animation: flashBackground 1.5s ease-in-out infinite alternate;
    transition: background-color 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 15px rgba(255, 255, 224, 0.5), 0 0 25px rgba(144, 238, 144, 0.7);
}

@keyframes flashBackground {
    0% {
        background: linear-gradient(90deg, rgba(255, 255, 224, 0.8) 0%, rgba(144, 238, 144, 0.8) 50%, rgba(0, 128, 0, 0.8) 100%);
        box-shadow: 0 0 15px rgba(255, 255, 224, 0.5), 0 0 25px rgba(144, 238, 144, 0.7);
    }
    50% {
        background: linear-gradient(90deg, rgba(144, 238, 144, 0.8) 0%, rgba(0, 128, 0, 0.8) 50%, rgba(255, 255, 224, 0.8) 100%);
        box-shadow: 0 0 30px rgba(255, 255, 224, 0.8), 0 0 40px rgba(144, 238, 144, 0.9);
    }
    100% {
        background: linear-gradient(90deg, rgba(0, 128, 0, 0.8) 0%, rgba(0, 128, 0, 0.8) 100%);
        box-shadow: 0 0 15px rgba(0, 128, 0, 0.5), 0 0 25px rgba(0, 128, 0, 0.7);
    }
}

#copyButton {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 8rem;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#copyButton:hover {
    background-color: #94ddc2;
}

.styled-table {
    width: 70%;
    border-collapse: collapse;
    border: 2px solid #000080;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.styled-table td {
    border: 1px solid #000080;
    padding: 3px;
}

.styled-table .label-cell {
    font-weight: bold;
    background-color: #f0f0f0;
}

p {
    font-size: 16px;
}
